.app-nav {
	background-color: $color-spaceblack;
	color: white;
	a {padding: $whitespace;}
	ul {list-style-type: none; padding:0;}
	ul:not(:first-child) {background: rgba(33, 150, 243, 0.86);}

	/*
	 * TRANSITIONS
	*/
	&__dropdown {
		@include transition();
		opacity: 0;
		&.show {opacity: 1;}
	}
	.has-submenu {
		ul {
			@include transition();
			opacity: 0;
			&.show{opacity: 1;}
		}
	}

	/*
	 * FLYOUT
	*/
	@include respond-above(m) {
	  .app-nav {
	    
	    .has-submenu {
	      ul {
	        &.from-left {}
	        &:not(.from-left) {}
	      }
	    }
	    // For: 1st-level Flyout
	    > ul > .has-submenu > ul {
	      &:not(.from-left) {}
	    }
	  }
	}

	/*
	 * DRAWER
	*/
	@include respond-below(m) {
	  .app-nav {
	    
	    ul {
	    	transform: translate(-50px 0);
	    }
	  }
	}
}