/*
 * BASE STUFF
*/
html {overflow-x: hidden;}

@include respond-below(m) {
	body.pusher {}
	body.pusher.is-open {transform: translateX(-50vw);}
}

.app-nav {
	*, *::before, *::after{
		box-sizing: border-box;
		-webkit-tap-highlight-color: transparent;
		outline: none;
	}
	display: flex;
	justify-content: flex-end;
	a {
		width: 100%;
		padding: $whitespace;
	}

	.has-submenu {
		&::after{
			content: '+';
			margin: 0 20px 0 -20px;
			display: inline-block;
		}
		ul:not(.show) {
			visibility: hidden;
			pointer-events: none;
		}
		.back {
			cursor: pointer;
			@include respond-above(m) {display: none;}
		}
	}
}

/*
 * FLYOUT
*/
@include respond-above(m) {
	.app-nav {
		.has-submenu {
			position: relative;      
			ul {
				position: absolute;
				top: 0;
				&.from-left {right: 100%;}
				&:not(.from-left) {left: 100%;}
			}
		}
		// For: 1st-level Flyout
		> ul > .has-submenu > ul {
			top: initial;
			&:not(.from-left) {right: 0; left: initial;}
		}
	}
}

/*
 * DRAWER
*/
@include respond-below(m) {
	.app-nav {
		> ul:first-child {
		   display: none;
		}
		ul {
			width: 50vw;
			height: 100vh;
			position: fixed;
			top: 0;
			bottom: 0;
		}
		&.is-open .show:last-child{
			overflow-y: scroll;
		}
	}
}

/*
 * PRIORITY
*/
.priority-nav {
	white-space: nowrap;
	> ul, > ul > li {display: inline-block; padding: 0;}
	a {display: inline-block; color: inherit;}

	& &__dropdown-toggle {
		position: relative;
		padding: 23px;
	}

	&__dropdown {
		position: absolute;
		right: 0;
		padding: 0;
		list-style-type: none;
		&:not(.show) {visibility: hidden; pointer-events: none;}
	}

	&__dropdown-toggle {
		&::before {
			content: '+';
			margin-right: 10px;
		}
		position: absolute;
		visibility: hidden;
		outline: none;
		display: inline-block;
		border: none;
		background: none;
		color: inherit;
		cursor: pointer;

		&::after { 
			@include respond-above(m) {
				content: attr(prioritynav-count);
				@include grid($justify: center, $align: center);
				position: absolute;
				top: 10px;
				right: -10px;
				width: 20px;
				height: 20px;
				font-size: $font-size-s;
				background: $color-blue;
				font-weight: bold;
				border-radius: 100%;
			}
		}
	}

	&__wrapper {display: inline-block; @include respond-above(m) {position: relative;}}
	&-is-visible {visibility: visible;}
	&-is-hidden  {visibility: hidden; display: none;}
}