/*
 * RESET STUFF
*/
.app-nav {
  ul {list-style-type: none; padding:0;}
  ul ul {background: $color-blue;}
}
/*
 * BASE STUFF
*/
.app-nav {
  
  .has-submenu {
    @include icon('fa-caret-down', $position: after, $margin: 0 $whitespace 0 (-$whitespace*0.5));
    position: relative;
    > ul {
      position: absolute;
      right: 0;
      visibility: hidden;
      pointer-events: none;
      &.show {visibility: visible; pointer-events: all;}
    }

    .has-submenu {
      @include icon('fa-caret-right', $position: after, $margin: 0 $whitespace 0 (-$whitespace*0.5));
      position: relative;
      ul {
        position: absolute;
        right: inherit;
        left: 100%;
        top: 0;
        visibility: hidden;
        pointer-events: none;
        &.show {visibility: visible; pointer-events: all;}
      }
    }
  }
}



/*
 * DRAWER
*/
@include respond-below(m) {

  .app-nav {

    &__dropdown {
      @include position(absolute, $top:0, $right:0, $bottom:0);
      width: 50vw;
      opacity: 0;
      transform:translate(50vw,0) !important;
      &.show{opacity: 1; transform:translate(0,0) !important;}

      .has-submenu {
          position: initial;
          ul{
            @include position(absolute, $top:0, $right:0, $bottom:0);
            width: 50vw;
            opacity: 0;
            transform:translate(50vw,0) !important;
            &.show{opacity: 1; transform:translate(20px,0) !important;}
          }
      }
    }
  }
}




/*
 * PRIORITY STUFF
*/
.priority-nav {
  white-space: nowrap;
  > ul, > ul > li {display: inline-block; padding: 0;}
  a {display: inline-block; color: inherit;}

  & &__dropdown-toggle {
    @include position(relative);
    padding: 23px;
  }

  &__dropdown {
    @include position(absolute, $right: 0);
    padding: 0;
    visibility: hidden;
    list-style-type: none;

    &.show {visibility: visible;}
  }

  &__dropdown-toggle {
    @include icon('fa-bars', $margin: 0 10px 0 0);
    position: absolute;
    visibility: hidden;
    outline: none;
    display: inline-block;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;

    &::after { 
      @include respond-above(m) {
        content: attr(prioritynav-count);
        @include grid($justify: center, $align: center);
        width: 20px;
        height: 20px;
        @include position(absolute, $top:10px, $right:-10px);
        font-size: $font-size-s;
        background: $color-blue;
        font-weight: bold;
      }
    }
  }

  &__wrapper {display: inline-block; @include respond-above(m) { position: relative;}}
  &-is-visible {visibility: visible;}
  &-is-hidden  {visibility: hidden;}
}